/*
 * =====================================================================================================
 * # レイアウト
 *
 * 命名は`.l-` で開始する
 * 幅に関する定義を記述
 * =====================================================================================================*
 */


/*
 * =====================================================================================================
 * .l-page
 * =====================================================================================================*
 */
.l-page {
	position: relative;
}

.l-article {
	width: 60%;
	margin: 0 auto;
	p {
		margin-top: 4em;
		line-height: 2;
	}
}

/*
 * =====================================================================================================
 * .l-frame
 * =====================================================================================================*
 */

 .l-frame {
	width: 87.5%;
	margin: 0 auto;
	position: relative;
}
.l-frame--full {
	width: 100%;
}

@include mq-s {
	.l-frame {
		width: auto;
		max-width: 1600px;
	}
	.l-frame--full {
		width: 100%;
		max-width: none;
	}
	.l-frame--large {
		width: 90%;
		max-width: 1600px * 0.9;
	}
	.l-frame--small {
		width: 66%;
		max-width: 1600px * 0.66;
	}
}

/*
 * =====================================================================================================
 * .l-col
 * マージンを入れて複数列を作成
 * =====================================================================================================*
 */
@include mq-s {
	.l-col2 {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.l-col2__item {
		width: 46.969697%;
	}
}

@include mq-s {
	.ie9 {
		.l-col2__item {
			display: inline-block;
			vertical-align: top;
		}
	}
}
/*
 * =====================================================================================================
 * .l-half
 * 50%の二分割
 * =====================================================================================================*
 */
@include mq-s {
	.l-half {
		display: flex;
		flex-wrap: wrap;
	}
	.l-half__item {
		width: 50%;
	}
}
