/*
 * # ユーティリティークラス
 *
 * - メディアクエリ判別クラス
 * - 削除クラス
 * - 赤字クラス
 *
 */

//メディアクエリ判別クラス
.u-mediaquery {
	display: none;
	font-family: '#{$SMALL_BREAKPOINT}';
	@include mq(md) {
		font-family: '#{$MEDIUM_BREAKPOINT}';
	}
	@include mq(lg) {
		font-family: '#{$LARGE_BREAKPOINT}';
	}
	@include mq(xl) {
		font-family: '#{$XLARGE_BREAKPOINT}';
	}
}

// 削除クラス
.u-hidden {display: none}
.u-hidden-sm {
	display: none;
	@include mq(md) {display: block;}
}
br.u-hidden-sm {
	@include mq(md) {display: inline;}
}
.u-hidden-md {
	@include mq(md) {display: none;}
	@include mq(lg) {display: block;}
}
br.u-hidden-md {
	@include mq(md) {display: none;}
	@include mq(lg) {display: inline;}
}
.u-hidden-lg {
	@include mq(sm) {display: none;}
	@include mq(xl) {display: block;}
}
br.u-hidden-lg {
	@include mq(sm) {display: none;}
	@include mq(xl) {display: inline;}
}
.u-hidden-xl {
	@include mq(xl) {display: none;}
}
br.u-hidden-xl {
	@include mq(xl) {display: none;}
}

// 赤字クラス
.u-red {
	color: #f33;
}

//揃え
.u-left {
	text-align: left;
}
.u-center {
	text-align: center;
}
.u-right {
	text-align: right;
}

//インラインブロック化
.u-ib {
	display: inline-block;
}
