doctype html(lang='ja')
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width')
		meta(name='format-detection', content='telephone=no')
		meta(name='robots', content='index,follow')
		block title
		block meta
		link(rel='shortcut icon', href='/favicon.ico')
	body
		h1.heading Hello Wolrd!