header.l-header
	h1.l-header__logo: a(href=rootPath) site title
	ul.l-header__nav
		li.l-header__nav__item: a(href=rootPath) TOP
		li.l-header__nav__item: a(href=rootPath + "about/") about
		li.l-header__nav__item: a(href=rootPath + "special/") special
	.l-header__btn: span メニューの開閉